@charset "UTF-8";

.container {
   max-width:1920px;
    margin: 0 auto;
    text-align: center;
}
/*main클래스*/
.festival-list{
	padding:80px;
}

/*상세내역 전체 */
.festival-detail{
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}

/* 상세내역 제목 */
.festival-name{
	padding-left:10%;
}
/* 상세내역 제목-날짜 */
.festival-name #festival-date{
	padding-top: 20px;
	padding-left: 10px;
}


/*상세내역 사진 영역  */
.festival-detail-card{
    display: flex;
    padding-top: 100px;
    justify-content:space-evenly;
    transition: transform 0.5s ease;
    will-change: transform ;
}

/* 상세내역 사진 */
.festival-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 270px;
    flex-shrink: 0;
    margin-right: 10px;
    
}


.festival-card img {
    width: 100%;
    border-radius: 20px;
}

/* 상세내역 자세한내용 */
.festival-detail-items{
	padding-top : 100px;
}

.festival-detail-items ul li{
	margin-top:30px;
	padding-left:15%;
}


.weather-api,
.map-api {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* 전체 너비 */
    max-width: 1000px; /* 최대 너비 제한 */
    margin: 0 auto 40px auto; /* 가운데 정렬 + 아래 여백 */
    display: flex;
    justify-content: center;
    padding: 20px;
}

.weather-api img,
.map-api img {
    width: 100%; /* 꽉 차게 */
    height: auto;
    border-radius: 20px;
    object-fit: contain;
}