@charset "UTF-8";

* {
	font-size: 20px;
}
/* 바탕화면 */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 900px;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

main {
	padding-left: 500px;
	padding-top : 100px;
}

/* 관리자 전체 화면임 */
.manager-total-container {
	width: 900px;
	height: 700px;
	background-color : #3B7C70;	
	border-radius: 20px;
	box-shadow: 0px 0px 3px #444
}

.manager-select-search {
	display: flex;
	justify-content :space-between; 	
}

.report-list-table {
	width : 1000px;
	margin : 0 auto;	
	text-align : center;
}

.table-title {
	border : 0.5px solid white;
	background-color : #678E79; 
}

.report-Infomation {
	border : 0.5px solid white;
	background-color : #678E79; 
}

.report-detail-content {
	text-align : center;
	width: 700px;
	height: 300px;
	background-color : #e4e2dd;
	margin: 0 auto;
	border-radius: 20px;
	margin-top : 80px;
	overflow-y: auto;
	overflow-x: hidden; 
}


.left-select-area button {
	background-color: #FFD700;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 10px;
	cursor: pointer;
	font-weight: bold;
}

.left-select-area button:hover {
	background-color: #FFA500;
}

.report-detail-btn {
	text-align: center;
	margin-top : 20px;
	}
	
	
.rejectBtn {
	width:70px;
	background-color: #FFA500;
	border-radius: 5px;
	padding: 10px;	
}

.report-content {
	width : 600px;
}


.acceptBtn{
	width:70px;
	background-color: red;
	border-radius: 5px;	
	padding: 10px;	
}

.rejectBtn:hover {
	background-color: #FFD700;
}

.acceptBtn:hover {
	background-color: rgb(255,151,151);
}




