@charset "UTF-8";
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 900px;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.reviewdetail-main {
	margin: 0 auto;
	margin-top:150px;
	width: 1350px;
	height: 1400px;
	padding: 30px;
	box-shadow: 0 2px 10px rgba(1, 0, 0, 0.2);
	background-color:rgb(60,127,114,0.9);
	border-radius: 10px;
	/*04/25추가*/
	
	
}
/*4/25추가!*/
.review-all:after {
	content:"";
	display: block;
	border-bottom: 2px solid white;;
}
.review-h3{
	margin: 0 auto;
	border: 1px solid white;
	width: 200px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 10px;
	background-color: #E4E2DD;
	color: black;
	font-size: 25px;
}
/*신고하기버튼*/

.review-report-btn{
	float:right;
	margin-top: -30px;
	position:relative;
	left:-30px;
}
.report-btn{
	width: 100px;
    height: 40px;
	font-size: 16px;
	font-weight: bold;
	border: none;
    background: #d97a4a;
    color: #fff;
    border-radius: 5px;
}

.reviewtitle-h1 {
	color: #f2f2f2;
}
.reviewtitle-h1:after {
	content:"";
	display: block;
	border-bottom: 2px solid white;
}
.review-info-main{
	 /*위로보내기*/
	 display:flex;
	 float:right;
	 /*4/25 제목 옆으로 이동시키기*/
	 /*신고하기버튼 안눌리면 아래 position지우기!*/
	 position: relative;
	 bottom:30px;
}
/*4/25추가 밑에꺼는 안먹힌다??*/

/* .review-update-all-btn:after{ */
/* 	content:""; */
/* 	display: block; */
/* 	border-bottom: 2px solid white;; */
/* } */

.review-update-all-btn {
	display: flex;
    align-items: center;
    justify-content: flex-end; 
    gap: 5px;
    margin-top: 30px;
}



.back-list-btn {
 	width: 100px;
    height: 40px;
	font-size: 16px;
	font-weight: bold;
	border: none;
    background: #f2c94c;
    color: #fff;
    border-radius: 10px;
  }
.review-update-btn{
	width: 100px;
    height: 40px;
	font-size: 16px;
	font-weight: bold;
	border: none;
    background: #d97a4a;
    color: #fff;
    border-radius: 10px;
}
  
  .review-delete-btn {
 	width: 100px;
    height: 40px;
	font-size: 16px;
	font-weight: bold;
	border: none;
    background: #e82734;
    color: #fff;
    border-radius: 10px;
  }
 
 /*4/25오후에 추가*/
 .review-all-content {
	width: 1250px;
	height: 600px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid white;
	background-color: white;
	border-radius: 10px;
	overflow-y: auto;
	overflow-x: hidden; 
	padding: 50px 50px; 
}

.review-content {
	border: 1px solid white;
	background-color: white;
	border-radius: 10px;
}
/*댓글영역*/

.comentwrite-p{
/* 	position: relative; */
/*같은현상으로 4/26일 위에 코드 주석처리*/
	margin-top:30px;
	color: #f2f2f2;
	
	
}

.review-comment-write-area {
	margin:0 auto;
	margin-left: 30px;
	
}


/*실선*/
.comentwrite-p:after{
	content:"";
	display: block;
	border-bottom: 2px solid white;
	position: relative;
	bottom: 80px; 
}

.addComment-btn {
	margin:0 auto;
	margin-left: 646px;
	margin-top:-50px;
}
/*댓글 종료 4/25 17:45*/
.comment-list-area {
	width: 1250px;
	height: 350px;
	margin: 0 auto;
	margin-top: 50px;
	overflow-y: auto;
	overflow-x: hidden; 
	padding: 50px 50px;
	border: 1px solid #e4e2dd;
	background-color: white;
	border-radius: 10px; 
}


.review-imagefile img {
	width: 250px;
	height: 150px;
}

/*댓글버튼*/
.addComment-btn{
	margin-top: -55px;
}

#addComment{
	width: 100px;
    height: 48px;
	font-size: 18px;
	font-weight: bold;
	border: none;
    background: #c2beba;
    color: #fff;
    border-radius: 5px;
}
/*실선댓글쓰기 아래*/
.textarea:after{
	content:"";
	display: block;
	border-bottom: 2px solid white;
	 position: relative;
	 bottom:800px;
	 top:30px;
}
/*댓글 답글이랑 삭제버튼*/

