@charset "UTF-8";

* {
	font-size: 20px;
}

/* 관리자 전체 화면임 */
.manager-total-container {
	margin: 100px auto 100px auto;
	width: 1200px;
	height: 500px;
	background-color : #3B7C70;	
	border-radius: 20px;
	box-shadow: 0px 0px 3px #444
}

.manager-select-search {
	display: flex;
	justify-content :space-between; 	
}

.member-manage-table {
	width : 80%;
	margin : 0 auto;	
}

.table-title {
	border : 0.5px solid white;
	background-color : #678E79; 
}

.member-Infomation {
	border : 0.5px solid white;
	background-color : #678E79; 
}


.member-Infomation td {
	text-align: center;
	padding: 10px;
	color: white;
}

.table-title th {
	color: white;
	padding: 10px;
	font-weight: bold;
}

.left-select-area button {
	background-color: #FFD700;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 10px;
	cursor: pointer;
	font-weight: bold;
}

.left-select-area button:hover {
	background-color: #FFA500;
}






/*   검색창 */
.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content:flex-end;
 	margin:  10px 10px;  
}

.search-form select, .search-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.search-btn {
    padding: 10px 16px;
    font-size: 16px;
    background: #ff6f61;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}