@charset "UTF-8";

.main-login-container {
	margin: 100px auto 100px auto;
	width: 700px;
	--height: 600px;
	background-color: rgba(228, 226, 221, 0.9);
	border-radius: 20px;
	box-shadow: 0px 0px 3px #444;
	padding-bottom: 30px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.login-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-header span{
	margin: 40px;
	width: 120px;
	height: 50px;
	display: flex;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	background-color:#D34A24;
	font-size: 25px;
	border-radius: 10px;
	box-shadow: 0px 0px 3px #444
}

.login-input {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-bottom: 30px;
}

.login-input input {
	width: 500px;
	height: 50px;
	border: none;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 3px #444;
}

.login-input input:focus {
	outline: 0.5px solid gray;
}

.check-input {
	text-align: center;
	margin-bottom: 20px;
	color: red;
}

.login-btn {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-bottom: 30px;
}

.login-btn button{
	width: 500px;
	height: 43px;
	font-weight: bold;
	font-size: 24px;
	color: #e4e2dd;
	background-color: #D34A24;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 0px 3px #444
}

.login-btn button:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
				rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.login-footer {
	text-align: center;
}

.login-footer span:nth-child(1), .login-footer span:nth-child(2){
	border-right: 2px solid #222;
	padding-right: 20px;
	padding-left: 20px;
}
.login-footer span:nth-child(3){
	padding-left: 20px;
}

.login-social {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.login-social img{
	width: 183px;
	height: 45px;
	object-fit: cover;
	border-radius: 10px;
}