@charset "UTF-8";
/* 바탕화면 */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 900px;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#container{
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;    
}
.chat-main{
	width: 100%;
	max-width: 1020px;
    padding: 0 20px;
    background-color: antiquewhite;
    box-sizing: border-box;
}

.chat-room-insert {
    width: 70%;
    background-color: #d26f534f;
    margin: 5px;
    height: 600px;    
	display: flex;
    flex-direction: column;
}

.room-header{
	display: flex;
    flex-direction: row;
    margin: 20px 10px;
    height: 50px;
}
	.chat-prev-list a{
  		text-decoration: none;		
  		margin-right: 10px;
	}
.chat-room-top{
	display:flex;
	justify-content: space-between;	
	align-items: center;
	margin: 20px auto;
    border-radius:10px;
    background-color: #F5F5F5;	
    width: 400px;
    height:50px;
}	
	#chatRoomTitle{
	    border: none;
        border-radius:10px;
	    background-color: #F5F5F5;	
	    height:50px;
	    width:100%;
	    padding:0 10px;
	}
	#charCount{
	    padding:0 20px;
  		color: #A6A4A2;	    
	}
.room-tag-group{
	display:flex;
	justify-content: space-between;
    width: 400px;
    margin: 30px auto;
}
	.room-tag1, .room-tag2, .room-tag3{
	    border: none;
	    border-radius:10px;    
	    background-color: #F5F5F5;	
	    height:50px;	
	    width: 30%;
		text-align: center;
	}

.chat-room-bottom{
	display:flex;
	justify-content: space-between;
	align-items: center;
    width: 350px;
    margin: 10px auto;    
}
	#imgUploadBtn{
	    border: none;
	    border-radius:10px;    
	    height:150px;
	    width: 150px;		
	    cursor:pointer;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    overflow: hidden; /* 버튼 크기를 넘는 이미지가 잘리도록 설정 */
	    position: relative;
	}
	#profile-img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	    filter: blur(2px);
	    z-index: 1;	
	}
	#uploadText{
	    position: absolute;
	    color: white;
	    font-weight: bold;
	    font-size: 18px;
	    z-index: 2;
	    text-shadow: 0 0 5px black; /* 글자 가독성 높이기 */
	    pointer-events: none;	
	}
.right-group{
	display:flex;
	flex-direction: column;
	width: 130px;
}
.room-mem{
    border: none;
    border-radius:10px;    
    background-color: #F5F5F5;	
    width: 130px;
    height:50px;
    margin: 20px auto;
	text-align: center;    
}

.room-register-button{
    padding: 8px 16px;
	background-color: #678E79;
	color: #fff;
	border: none;
	border-radius: 4px;
	margin: 20px 0;
	height: 60px;
	cursor: pointer;	
}