@charset "UTF-8";

#container{
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;    
}
.chat-main{
	width: 100%;
	max-width: 1020px;
    padding: 0 20px;
    background-color: antiquewhite;
    box-sizing: border-box;
}

/* 우측 전체목록 */
.allchat-list-wrap{
    width: 70%;
    background-color: #d26f534f;
    margin: 5px;
    padding:8px;
    height: 600px;    
	overflow: auto;    
}

