<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fepeo.boot.chat.model.mapper.ChatMsgMapper">

<!--	<insert id="insertChatMsg" parameterType="MsgInsertRequest">-->
<!--		<selectKey keyProperty="chatMsgNo" resultType="int" order="BEFORE">-->
<!--			select SEQ_CHAT_MSG_NO.nextval from DUAL-->
<!--		</selectKey>-->
<!--		insert into CHAT_MSG -->
<!--		(CHAT_MSG_NO, CHAT_MSG_CONTENT, CHAT_MSG_TIME, CHAT_FILE_NAME, -->
<!--  	 	  CHAT_FILE_RENAME, CHAT_FILE_PATH, NON_READ_MEMBER, MEMBER_NO, CHATROOM_NO)-->
<!--		values (#{chatMsgNo}, #{chatMsgContent}, default, #{chatFileName},-->
<!--		#{chatFileRename}, #{chatFilePath}, #{nonReadMember}, #{memberNo}, #{chatroomNo})-->
<!--	</insert>-->
	
	<insert id="insertChatMsg" parameterType="MsgInsertRequest" useGeneratedKeys="true" keyProperty="chatMsgNo">
		insert into CHAT_MSG 
		(CHAT_MSG_CONTENT, CHAT_MSG_TIME, CHAT_FILE_NAME, 
  	 	  CHAT_FILE_RENAME, CHAT_FILE_PATH, NON_READ_MEMBER, MEMBER_NO, CHATROOM_NO)
		values (#{chatMsgContent}, default, #{chatFileName},
		#{chatFileRename}, #{chatFilePath}, #{nonReadMember}, #{memberNo}, #{chatroomNo})
	</insert>
	
	<update id="nonReadMemberCount">
		update CHAT_MSG set NON_READ_MEMBER = #{nonReadMember}
		where CHAT_MSG_NO = #{chatMsgNo}
	</update>
	
	<update id="subtractionNonReadMemberCount">
		update CHAT_MSG set NON_READ_MEMBER = NON_READ_MEMBER -1
		where CHATROOM_NO = #{chatroomNo} and NON_READ_MEMBER > 0
	</update>

	<select id="selectChatMsgListByNo" resultType="com.fepeo.boot.chat.model.vo.ChatMsg">
		select CM.*, M.NICKNAME from CHAT_MSG CM 
		JOIN MEMBER M ON CM.MEMBER_NO = M.MEMBER_NO
		where CHATROOM_NO = #{chatroomNo}
		order by CHAT_MSG_TIME asc
	</select>
	
</mapper>
