<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fepeo.boot.chat.model.mapper.ChatMapper">

	<insert id="insertChatRoom" parameterType="ChatroomRegisterRequest">
		<selectKey keyProperty="chatroomNo" resultType="int" order="BEFORE">
			SELECT SEQ_CHATROOM_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO CHATROOM (
			CHATROOM_NO, MEMBER_NO, CHATROOM_TITLE, TAG1, TAG2, TAG3,
			CHAT_IMG_NAME, CHAT_IMG_RENAME, CHAT_IMG_PATH, CHAT_LIMIT, CHAT_MEMBER_COUNT
		) VALUES (
			#{chatroomNo}, #{memberNo}, #{chatroomTitle}, #{tag1}, #{tag2}, #{tag3},
			#{chatImgName}, #{chatImgRename}, #{chatImgPath}, #{chatLimit}, DEFAULT
		)
	</insert>
	
	<delete id="deleteCahtRoom">
		delete from CHATROOM where CHATROOM_NO = #{chatroomNo}
	</delete>
	
	<update id="updateChatMember">
		update CHATROOM set CHAT_MEMBER_COUNT = CHAT_MEMBER_COUNT + 1
		where CHATROOM_NO = #{chatroomNo}
	</update>
		
	<update id="subtractionChatMember">
		update CHATROOM set CHAT_MEMBER_COUNT = CHAT_MEMBER_COUNT - 1
		where CHATROOM_NO = #{chatroomNo}
	</update>
		
	<!-- 전체리스트 출력 -->
	<select id="selectChatRoomList" resultType="com.fepeo.boot.chat.model.vo.ChatRoom">
		select * from CHATROOM
	</select>
<!-- 	
	<select id="selectChatRoomListByNo" resultType="com.fepeo.boot.chat.model.vo.ChatRoom">
		select * from CHATROOM where MEMBER_NO = #{memberNo} 방장
	</select> -->
	
	<!-- 가입인원수 -->
	<select id="selectChatMember" resultType="com.fepeo.boot.chat.model.vo.ChatRoom">
		select CHAT_MEMBER_COUNT from CHATROOM where CHATROOM_NO = #{chatroomNo}
	</select>
	<!-- 채팅방 정보 가져오기  -->
	<select id="selectChatRoomByNo" resultType="com.fepeo.boot.chat.model.vo.ChatRoom">
		 SELECT * FROM CHATROOM WHERE CHATROOM_NO = #{chatroomNo}
	</select>
	<!-- 내가 속한 채팅방 정보 가져오기 -->
	<select id="selectMyChatRoomListByChatMember" resultType="ChatRoom">
		SELECT * FROM CHATROOM WHERE CHATROOM_NO = #{chatroomNo}
	</select>
	<!-- 전체 채팅방 검색 -->
	<select id="searchChatRoom" resultType="ChatRoom">
		select * from CHATROOM
		<where>
			CHATROOM_TITLE like '%'||#{searchKeyword}||'%' or
			TAG1 like '%'||#{searchKeyword}||'%' or
			TAG2 like '%'||#{searchKeyword}||'%' or
			TAG3 like '%'||#{searchKeyword}||'%'
		</where>
		ORDER BY CHATROOM_TITLE asc
	</select>
	
	<!-- 나의 채팅방 검색 -->
	<select id="searchChatRoomByNo" resultType="com.fepeo.boot.chat.model.vo.ChatRoom">
		select * from CHATROOM
		where (
			CHATROOM_TITLE like '%'||#{mySearchKeyword}||'%' or
			TAG1 like '%'||#{mySearchKeyword}||'%' or
			TAG2 like '%'||#{mySearchKeyword}||'%' or
			TAG3 like '%'||#{mySearchKeyword}||'%'
		)
		and MEMBER_NO = #{memberNo} 
		ORDER BY CHATROOM_TITLE asc
	</select>
	
</mapper>  