<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fepeo.boot.chat.model.mapper.ChatMapper">

	<insert id="insertChatRoom">
		insert into CHATROOM values (
		SEQ_CHATROOM_NO.nextval, #{memberNo}, #{chatroomTitle},#{tag1},#{tag2},#{tag3},
		#{chatImgName},#{chatImgRename},#{chatImgPath},#{chatLimit}, default	)
	</insert>

</mapper>  