<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fepeo.boot.course.model.mapper.CourseMapper">

	<resultMap type="RegionDTO" id="regionResultMap">
		<result property="regionNo"  column="REGION_NO"/>
		<result property="regionName"  column="REGION_NAME"/>
	</resultMap>	

	<select id="selectRegionList" resultMap="regionResultMap">
		SELECT * FROM REGION_CODE
	</select>

 	<insert id="insertCourse">
		INSERT INTO COURSE VALUES (
		    SEQ_COURSE_NO.NEXTVAL,
		    #{festivalNo},
		    #{memberNo},
		    #{courseName},
		    #{festivalName},
		    #{festivalImg},
			#{marzipPlaceName},
		    #{matzipCategory},
		    #{matzipX},
		    #{matzipY},
		    #{hotelPlaceName},
		    #{hotelCategory},
		    #{hotelX},
		    #{hotelY},	
		    #{cafePlaceName},
		    #{cafeCategory},
		    #{cafeX},
		    #{cafeY},	
		    #{tourPlaceName},
		    #{tourCategory},
		    #{tourX},
		    #{tourY},	
		    #{parkingPlaceName},
		    #{parkingCategory},
		    #{parkingX},
		    #{parkingY},	
		    #{culturePlaceName},
		    #{cultureCategory},
		    #{cultureX},
		    #{cultureY}	
		)
	</insert> 

	<select id="selectCourseByNo" resultType="CourseDto">
		SELECT * FROM COURSE WHERE MEMBER_NO =#{memberNo}
	</select>


</mapper>  