<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fepeo.boot.course.model.mapper.CourseMapper">

	<resultMap type="RegionDTO" id="regionResultMap">
		<result property="regionNo"  column="REGION_NO"/>
		<result property="regionName"  column="REGION_NAME"/>
	</resultMap>	

	<select id="selectRegionList" resultMap="regionResultMap">
		SELECT * FROM REGION_CODE
	</select>

 	<insert id="insertCourse">
		INSERT INTO COURSE(
			FESTIVAL_NO,
			MEMBER_NO,
			COURSE_NAME,
			FESTIVAL_NAME,
			FESTIVAL_IMG,
			MATZIP_PLACE_NAME,
			MATZIP_CATEGORY,
			MATZIP_MAPX,
			MATZIP_MAPY,
			HOTEL_PLACE_NAME,
			HOTEL_CATEGORY,
			HOTEL_MAPX,
			HOTEL_MAPY,
			CAFE_PLACE_NAME,
			CAFE_CATEGORY,
			CAFE_MAPX,
			CAFE_MAPY,
			TOUR_PLACE_NAME,
			TOUR_CATEGORY,
			TOUR_MAPX,
			TOUR_MAPY,
			PARKING_PLACE_NAME,
			PARKING_CATEGORY,
			PARKING_MAPX,
			PARKING_MAPY,
			CULTURE_PLACE_NAME,
			CULTURE_CATEGORY,
			CULTURE_MAPX,
			CULTURE_MAPY
		) VALUES (
		    #{festivalNo},
		    #{memberNo},
		    #{courseName},
		    #{festivalName},
		    #{festivalImg},
			#{matzipPlaceName},
		    #{matzipCategory},
		    #{matzipMAPX},
		    #{matzipMAPY},
		    #{hotelPlaceName},
		    #{hotelCategory},
		    #{hotelMAPX},
		    #{hotelMAPY},	
		    #{cafePlaceName},
		    #{cafeCategory},
		    #{cafeMAPX},
		    #{cafeMAPY},	
		    #{tourPlaceName},
		    #{tourCategory},
		    #{tourMAPX},
		    #{tourMAPY},	
		    #{parkingPlaceName},
		    #{parkingCategory},
		    #{parkingMAPX},
		    #{parkingMAPY},	
		    #{culturePlaceName},
		    #{cultureCategory},
		    #{cultureMAPX},
		    #{cultureMAPY}	
		)
	</insert> 

	<select id="selectCourseByNo" resultType="Course">
		SELECT * FROM COURSE WHERE MEMBER_NO =#{memberNo}
	</select>

	<select id="selectOneByCourseNo" resultType="Course"> 
		SELECT * FROM COURSE WHERE COURSE_NO = #{courseNo}
	</select>

	<delete id="deleteCourse">
		DELETE FROM COURSE WHERE MEMBER_NO = #{memberNo} AND COURSE_NO = #{courseNo} 
	</delete>

</mapper>  