<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fepeo.boot.report.model.mapper.ReportMapper">

    <insert id="insertReport">
    	<if test=" reportObject == 'chat' ">
    		INSERT INTO REPORT VALUES(SEQ_REPORT_NO.NEXTVAL
        	,#{memberNo},'CHATROOM',#{reportContent},#{num},NULL,NULL,DEFAULT)
    	</if>
    	<if test=" reportObject == 'rev' ">
    		INSERT INTO REPORT VALUES(SEQ_REPORT_NO.NEXTVAL
        	,#{memberNo},'REPORT',#{reportContent},NULL,NULL,#{num},DEFAULT)
    	</if>
    	<if test=" reportObject == 'com' ">
    		INSERT INTO REPORT VALUES(SEQ_REPORT_NO.NEXTVAL
        	,#{memberNo},'REPORT_COMMENT',#{reportContent},NULL,#{num},NULL,DEFAULT)
    	</if>
    </insert>
    
    <select id="getTotalCount">
    	SELECT COUNT(*) FROM REPORT
    </select>
	
	<select id="selectReportList" resultType="Report">
		SELECT * FROM REPORT ORDER BY 1 DESC
	</select>
	
</mapper>