<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fepeo.boot.festival.model.mapper.FestivalMapper">
	
	<insert id="insertFestival" parameterType="Festival">
        INSERT INTO FESTIVAL 
        VALUES (
            SEQ_FESTIVAL_NO.NEXTVAL,
            #{festivalName},
            #{festivalStartDate},
            #{festivalEndDate},
            #{festivalFileName},
            #{festivalFileRename},
            #{festivalFilePath},
            #{festivalPhone},
            #{festivalAddress},
            #{festivalDetailAddress},
            #{mapVCode},
            #{mapHcode}
        )
    </insert>

    <select id="selectFestivalList" resultType="com.fepeo.boot.festival.model.vo.Festival" parameterType="map">
	    SELECT * FROM (
	        SELECT f.*, ROWNUM AS rnum
	        FROM (
	            SELECT *
	            FROM FESTIVAL WHERE FESTIVAL_FILE_PATH IS NOT NULL AND FESTIVAL_END_DATE >=SYSDATE
	            ORDER BY FESTIVAL_END_DATE
	        ) f
	        WHERE ROWNUM &lt;= #{endRow}
	    )
	    WHERE rnum &gt;= #{startRow}
	</select>

	<select id="selectFestivalListById" resultType="com.fepeo.boot.festival.model.vo.Festival">
		SELECT * FROM FESTIVAL WHERE FESTIVAL_FILE_PATH IS NOT NULL
		ORDER BY FESTIVAL_NO ASC
	</select>

	<select id="selectFestivalByNo" resultType="com.fepeo.boot.festival.model.vo.Festival">
		SELECT * FROM FESTIVAL WHERE FESTIVAL_NO = #{festivalNo}
	</select>
	
	<select id="getTotalCount" resultType="int">
	    SELECT COUNT(*) FROM FESTIVAL
	</select>
	

	<select id="selectFestivalListByRegion" resultType="com.fepeo.boot.festival.model.vo.Festival">
	    SELECT * FROM (
	        SELECT f.*, 
	               POWER(f.MAP_V_CODE - #{mapPoint.x}, 2) + POWER(f.MAP_H_CODE - #{mapPoint.y}, 2) AS distance
	        FROM FESTIVAL f
	        <where>
	            <foreach collection="regionNames" item="region" open="(" separator="OR" close=")">
	                f.FESTIVAL_ADDRESS LIKE '%' || #{region} || '%'
	            </foreach>
	        </where>
	        ORDER BY distance
	    ) 
<!-- 	    부등호를 인식 못해서 넣은 문구 -->
	    <![CDATA[ 
	    WHERE ROWNUM <= 20
	    ]]>
	</select>
	
	<select id="searchFestivalList" resultType="com.fepeo.boot.festival.model.vo.Festival">
		SELECT * FROM FESTIVAL
		<where>
			<if test="searchCondition != null and searchCondition == name">
				FESTIVAL_NAME like '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchCondition != null and searchCondition == location">
				FESTIVAL_ADDRESS like '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchCondition != null and searchCondition == all">
				FESTIVAl_NAME like '%'||#{searchKeyword}||'%' OR FESTIVAL_ADDRESS like '%'||#{searchKeyword}||'%'
			</if>	
		</where>
	</select>
	

	


</mapper>